main {
  width: 100%;
  padding: 1em;
}

header {
  text-align: center;
  margin-bottom: 4em;
}

.result {
  width: 60ch;
  margin: 0 auto 0 auto;
}

input {
  padding: 0.5em;
  margin: 2em 0 0em 0;
  font-size: 1.1em;
  width: 100%;
}

.card,
.info {
  margin: 2em 0 2em 0;
  /* background-color: rgb(234, 234, 234); */
  /* padding: 1.5em; */
}
.card {
  border-radius: 0.5em;
}
/* .card__h3 {
  max-width: 40ch;
} */
