nav {
  display: flex;
  justify-content: space-between;
  padding: var(--body-padding, 1rem);
  --nav-color: black;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.nav__a,
.logo a {
  color: var(--nav-color, black);
  text-decoration: none;
  font-size: 1.5em;
}

.logo a {
  font-size: 2em;
  font-weight: bold;
}
